<!DOCTYPE html>
<html ng-app="blocChat">
<head lang="en">
    <meta charset="UTF-8">
    <title>Bloc Chat</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body ng-controller="LandingCtrl">

    <h1>Charles' Bloc Chat Eporium.</h1>

    <aside class="leftDiv">

        <button ng-click="add()">
            Creat New Room
        </button>

        <button ng-click="remove()">
            Remove Oldest Room
        </button>

        <ul>
            <li ng-repeat="room in rooms">{{room.$value}}</li>
        </ul>
    </aside>

    <div class="messages">

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/Room.js"></script>
    <script src="/scripts/controllers/LandingCtrl.js"></script>


    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCzLqF6WYlEej5-tZ3pfRHQMCaCAgIbigU",
            authDomain: "bloc-chat-c97c9.firebaseapp.com",
            databaseURL: "https://bloc-chat-c97c9.firebaseio.com",
            storageBucket: "bloc-chat-c97c9.appspot.com",
            messagingSenderId: "1041229169151"
        };
        firebase.initializeApp(config);
    </script>

    <!-- <script>
        console.log(rooms.length);
    </script> -->
</body>
</html>
