<h1>Charles' Bloc Chat Eporium.</h1>

<aside class="leftDiv">

    <button ng-click="landing.Room.add()">
        Creat New Room
    </button>

    <button ng-click="landing.Room.remove()">
        Remove Latest Room
    </button>

    <ul>
        <li ng-repeat="room in landing.Room.all">{{room.$value}}</li>
    </ul>
</aside>

<!-- <div class="messages" ng-controller="ModalCtrl as modal">
    <button ng-click="modal.open()">New message</button>
    <br/>
    <br/>
    {{modal.message}}
    {{landing.Room.down.$value}}
</div>

<div>
    <p>
        Here: {{landing.Messag}}
    </p>
</div> -->
<hr/>
<div>
    <p>landing.Room.all: {{landing.Room.all}}</p>
    <p>landing.Room.all[0].$value: {{landing.Room.all[0].$value}}</p>
    <p>landing.Room.all[1]: {{landing.Room.all[1]}}</p>
</div>
<hr/>
<div>
    <p>landing.Message.all: {{landing.Message.all}}</p>
    <p>landing.Message.all[0].$value: {{landing.Message.all[0].$value}}</p>
    <p>landing.Message.all[1]: {{landing.Message.all[1]}}</p>
</div>
