<h1>Charles' Bloc Chat Eporium.</h1>

<aside class="leftDiv">

    <button ng-click="landing.Room.add()">
        Creat New Room
    </button>

    <button ng-click="landing.Room.remove()">
        Remove Latest Room
    </button>

    <ul>
        <!-- <li ng-repeat="room in landing.Room.all">{{room.$value}}</li> -->
        <button ng-repeat="room in landing.Room.rooms">
            {{room.$value}}
        </button>
    </ul>
</aside>


<div class="messages">
    <button ng-click="landing.Message.add()">
        New Message
    </button>
    <button ng-click="landing.Message.clear()">
        Clear Last Message
    </button>
    <ul>
        <li ng-repeat="msg in landing.Message.messages">
            {{msg.content}}
        </li>
</div>

<ul>
    <li ng-repeat="room in landing.Room.rooms">{{room.$id}}</li>
</ul>
